services:
  rps:
    build:
      context: .
      dockerfile: src/docker/Dockerfile
    ports:
      - "9002:9002"
    environment:
      RPS_MODE: "serve"
      RPS_BIND: "0.0.0.0:9002"
      RPS_MTLS: "1"
      RPS_SPIFFE_ID: "spiffe://noah.inter-cloud-thi.de/game-server"
      RPS_CERT_DIR: "/app/certs"
    volumes:
      - ./certs:/app/certs
